<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="ConnectionStrings">
    <Parameter Name="DefaultConnection" Value="" />
  </Section>
  <Section Name="Jwt">
    <Parameter Name="Secret" Value="" />
    <Parameter Name="Issuer" Value="TravelPlanner" />
    <Parameter Name="Audience" Value="TravelPlanner.Client" />
    <Parameter Name="ExpirationMinutes" Value="60" />
  </Section>
</Settings>
