<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Jwt">
    <Parameter Name="Secret" Value="CHANGE_ME_LOCAL_JWT_SECRET_32_CHARS_MINIMUM" />
    <Parameter Name="Issuer" Value="TravelPlanner.Local" />
    <Parameter Name="Audience" Value="TravelPlanner.Frontend" />
  </Section>
  <Section Name="Authentication">
    <Parameter Name="AllowDevUserHeaderFallback" Value="false" />
  </Section>
</Settings>
